body {
  background-color: black;
  color: gold;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

header {
  padding: 20px 0;
}

h1 {
  font-weight: bold;
  margin: 10px 0;
}

footer {
  padding: 20px;
  font-size: 14px;
  color: #bfa84b;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 20px;
  padding: 20px;
  animation: scrollRight 50s linear infinite;
}

.row.reverse {
  animation: scrollLeft 50s linear infinite;
}

@keyframes scrollRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
@keyframes scrollLeft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.car-card {
  min-width: 280px;
  background: #000;
  border: 2px solid gold;
  border-radius: 12px;
  box-shadow: 0 0 20px gold;
  overflow: hidden;
  transition: transform 0.3s;
}

.car-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.car-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 10px;
}

.info h3 {
  font-size: 16px;
  margin: 5px 0;
}

.info p {
  color: #ffdf59;
  font-weight: bold;
  margin: 0;
}
